## .NET
bin/
obj/
*.user
*.suo
*.cache
packages/
*.nupkg
**/Properties/launchSettings.json

node_modules/
npm-debug.log*
.next
dist/

docker-compose.override.yml
*.orig

.vs/
.vscode/
.idea/
*.swp
*.sln.docstates

.DS_Store
Thumbs.db

*.env
appsettings.Development.json
/.env.example
